<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>

  
  <div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header-title">
              <button type="button" class="btn btn-success">
              <a routerLinkActive="active" routerLink="companylist" class="nav-link"><i class="ti ti-home"></i> <span class="menu-name-cus"> &nbsp;Company</span> </a>
              </button> &nbsp; &nbsp;
              <button type="button" class="btn btn-success">
                <a routerLinkActive="active" routerLink="branchlist" class="nav-link"><i class="ti ti-user"></i> <span class="menu-name-cus"> &nbsp;Branch</span> </a>
               </button>&nbsp;
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
  
<router-outlet></router-outlet>
